<template>
<div>
  <TopMenu/>
   <div class="container-fluid bgDark">
    <h2 class="heading">Audio Video</h2>
    <h4 class="heading-sm">Month:- {{ month }}</h4>
    <h4 class="heading-sm">Day:- {{ day }}</h4>
    <div class="card con" v-if="noError">
        <!-- <img v-for="video in videos" :src="video.url" class="cbImg" :key="video.url"/> -->
        <!-- <video v-for="video in videos" height="auto" width="100%" :key="video.url">
            <source :src="video.url" type="video/mp4"> 
        </video> -->
        <video v-for="video in videos" :key="video.url" width="100%" height="auto" controls controlsList="nodownload" class="cVideo">
            <source :src="video.url" type=video/mp4>
        </video>
    </div>
    <div class="card con" v-else>
        <!-- <img v-for="video in videos" :src="video.url" class="cbImg" :key="video.url"/> -->
        <!-- <video v-for="video in videos" height="auto" width="100%" :key="video.url">
            <source :src="video.url" type="video/mp4"> 
        </video> -->
        <h3>No Video to show</h3>
    </div>
    <div class="btnDv">
      <router-link to="/course"><b-button variant="danger"><b-icon icon="arrow-left" variant="light"></b-icon>Back</b-button></router-link>
    </div><br>
  </div>
  <BottomMenu/>
</div>
</template>
<script>
import BottomMenu from '@/components/BottomMenu'
import TopMenu from '@/components/TopMenu'
export default {
  name: 'AudioVideo',
  
  data () {
    return {
      day:null,
      month:null,
      api:'https://api.teenybeans.in/API/ParentApp/V1/',
      // api:'http://api.go/API/ParentApp/V1/',
      contentAPi:'https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/WB-AV-Mapping-Work/',
      loggedIn:false,
      userId:null,
      noError:true,
      videos:[
          
      ]
    }
  },
  components: {
    BottomMenu,
    TopMenu
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    // console.log(ca);
    var id = "userId=";
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if(!self.userId){
      self.$router.push('signin');
    }else{
      self.loggedIn = true;
      // self.fetchRegDetails();
      self.fetchVideo();
    }
  },
  methods:{
    fetchRegDetails(){
      var self = this;  
      fetch(self.api+'?regDetails&userId='+self.userId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
              response.json().then(function(data) {
              var dataS = data.data;
              console.log(data.data);
              self.month = dataS.month;
              self.day = dataS.day;
              if(dataS.disable){
                self.disable = true;
              }else{
                // console.log("Not ok");
              }
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    fetchVideo(){
      var self = this;  
      fetch(self.api+'?fetchVideo&userId='+self.userId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
              response.json().then(function(data) {
              if(data.data == null){
                self.noError = false;
              }else{
                var dataS = data.data;
                console.log(dataS);
                for(var i = 0;i<dataS.length;i++){
                  self.videos.push({"url":self.contentAPi+dataS[i]});
                }
              }
              self.fetchRegDetails();
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: 'Arima Madurai';
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.cVideo{
  margin-bottom: 20px;
}
.btnDv{
  margin-top: 1%;
}
.cbImg{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.con{
  margin-top: 20px;
  padding-top: 0px;
  margin-bottom: 10%;
  /* min-height: 100%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden; */
}
.editBtn{
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.aboutText{
  color: #fff;
}
.smallText{
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: 'Arima Madurai', cursive;
}
.heading-sm{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  /* font-family: 'Arima Madurai', cursive; */
}
.bgDark{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  /* position:fixed; 
  overflow-y:hidden;
  overflow-x:hidden; */
}
.bold{
  font-weight:bold;
}

</style>
