<template>
  <div class="fontCh">
    <div>
  <b-navbar toggleable="lg" type="light" class="bgC" fixed="bottom">
    
    <b-nav-item class="noPadding">
      <router-link to="/">
        <div class="d-flex flex-column textCenter">
          <b-icon icon="house-fill" class="mar" variant="light"></b-icon>
          <span class="textWh">Home</span>
        </div>
       </router-link>
    </b-nav-item>
   
    <b-nav-item href="#" class="noPadding">
      <router-link to="/course">
      <div class="d-flex flex-column textCenter">
        <b-icon icon="book-half" style="margin-left:30%" variant="light"></b-icon>
        <span class="textWh">Lesson</span>
      </div>
      </router-link>
    </b-nav-item>
    <b-nav-item href="#" class="noPadding">
      <router-link to="/profile">
      <div class="d-flex flex-column textCenter">
        <b-icon icon="people-circle" class="mar" variant="light"></b-icon>
        <span class="textWh">Profile</span>
      </div>
      </router-link>
    </b-nav-item>
    <b-nav-item href="#" class="noPadding">
      <router-link to="/chat">
      <div class="d-flex flex-column textCenter">
        <b-icon icon="chat-dots-fill" class="mar" variant="light"></b-icon>
        <span class="textWh">Chat</span>
      </div>
      </router-link>
    </b-nav-item>
    <!-- <b-nav-item href="#" class="noPadding">
      <div class="d-flex flex-column textCenter">
        <b-icon icon="bell-fill" class="mar" variant="light"></b-icon>
        <span class="textWh">Notice</span>
      </div>
    </b-nav-item> -->
    

    <!-- <b-nav-item href="#" disabled>Disabled</b-nav-item> -->

  <!-- <div class="flex-container">
  <div class="flex-item flex-item-1">1</div>
  <div class="flex-item flex-item-2">2</div>
  <div class="flex-item flex-item-3">3</div>
  <div class="flex-item flex-item-4">4</div>
</div> -->
  </b-navbar>
</div>

    
  </div>
</template>

<script>
export default {
  name: 'BottomMenu',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bgC{
 background: rgba(2, 7, 77, 0.925);
}
.textWh{
  color: #ffffff;
}
.nav-link{
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem 0rem 0rem 0rem;
}
.mar{
  margin-left: 20%;
}
.textCenter{
  /* text-align: center; */
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
