<template>
<div>
  <TopMenu/>
   <div class="container-fluid bgDark">
    <h2 class="heading">Teacher Support</h2>
    <!-- <img src="../assets/user.png" height="60" width="60" alt=""> -->
    <div class="card con">
        <h1><b-icon icon="clock-fill" variant="warning"></b-icon></h1>
        <h1>Coming Soon!</h1>
    </div>
    <router-link to="/course"><b-button variant="danger"><b-icon icon="arrow-left" variant="light"></b-icon>Back</b-button></router-link>
  </div>
  <BottomMenu/>
</div>
</template>

<script>
import BottomMenu from '@/components/BottomMenu'
import TopMenu from '@/components/TopMenu'
export default {
  name: 'Chat',
  
  data () {
    return {
      today:"Day - 4",
      month:"Month - 1",
      msg: 'Welcome to Your Vue.js App',
      images:[
        { url: 'https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg' },
      ]
    }
  },
  components: {
    BottomMenu,
    TopMenu
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: 'Arima Madurai';
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.cbImg{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.con{
  margin-top: 20%;
  padding-top: 10px;
  margin-bottom: 30%;
  /* min-height: 100%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden; */
}
.editBtn{
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.aboutText{
  color: #fff;
}
.smallText{
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  margin-top: 2%;
  color: rgba(2, 7, 77, 0.925);
  font-family: 'Arima Madurai', cursive;
}
.heading-sm{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  /* font-family: 'Arima Madurai', cursive; */
}
.bgDark{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  /* position:fixed; 
  overflow-y:hidden;
  overflow-x:hidden; */
}
.bold{
  font-weight:bold;
}

</style>
