<template>
<div>
  <TopMenu/>
   <div class="container-fluid bgDark">
    <h2 class="heading">Today's Lesson</h2>
    <h4 style="font-weight:bold;" class="heading-sm">Month - {{month}}</h4>
    <h4 style="font-weight:bold;" class="heading-sm">Day - {{day}}</h4>
    <h6 v-if="error" style="color:red">You are not allowed to see that!</h6>
    <!-- <img src="../assets/user.png" height="60" width="60" alt=""> -->
    <!-- <div class="card con">
        
        <table class="table table-hover">
            <tbody>
                <tr>
                  <div style="">
                    <td class="bold"><b-icon icon="book-half" variant="dark"></b-icon> Content Book</td>
                  </div>
                  
                </tr>
                <tr>
                  <router-link to="/worksheet">
                    <td class="bold"><b-icon icon="card-image" variant="dark"></b-icon> Worksheet</td>
                  </router-link>
                </tr>
                <tr>
                  <router-link to="/lessonplan">
                    <td class="bold"><b-icon icon="calendar-fill" variant="dark"></b-icon> Lesson Plan</td>
                  </router-link>
                </tr>
                <tr>
                  <router-link to="/avsupport">
                    <td class="bold"><b-icon icon="camera-video-fill" variant="dark"></b-icon> Audio-Visual Support</td>
                  </router-link>
                </tr>
                <tr>
                  <router-link to="/teacher">
                    <td class="bold"><b-icon icon="chat-dots-fill" variant="dark"></b-icon> Teacher's Support</td>
                  </router-link>
                </tr>
            </tbody>
        </table>
        <div class="row">
          <router-link to="/contentbook">
            <div class="col options">
              <b-icon icon="book-half" variant="dark"></b-icon> Content Book
            </div>
          </router-link>
        </div>
        <hr>
        <div class="row">
          <router-link to="/contentbook">
            <div class="col options">
              <b-icon icon="book-half" variant="dark"></b-icon> Content Book
            </div>
          </router-link>
        </div>
    </div><br> -->
    <div class="grid-container">
      <div>
        <router-link class="colorBl" to="/contentbook">
          <div class="text-center">
            <b-icon icon="book-half" class="icon"></b-icon>
          </div>
          <div class="iconText">
            Content Book
          </div>
        </router-link>
      </div>
      <div>
        <router-link class="colorBl" to="/worksheet">
        <div class="text-center">
          <b-icon icon="card-image" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Worksheet
        </div>
        </router-link>
      </div>
      <div v-if="disable" style="background:#616C6F" @click="showError()">
        <div class="text-center">
          <b-icon icon="calendar-fill" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Lesson Plan
        </div>
      </div>  
      <div v-else>
        <router-link class="colorBl" to="/lessonplan">
        <div class="text-center">
          <b-icon icon="calendar-fill" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Lesson Plan
        </div>
        </router-link>
      </div>
      <div>
        <router-link class="colorBl" to="/avsupport">
        <div class="text-center">
          <b-icon icon="camera-video-fill" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Audio Video
        </div>
        </router-link>
      </div>
      <div>
        <router-link class="colorBl" to="/demo">
        <div class="text-center">
          <b-icon icon="clipboard-data" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Demo Classes
        </div>
        </router-link>
      </div>
      <div v-if="disable" style="background:#616C6F" @click="showError()">
        <div class="text-center">
          <b-icon icon="chat-dots-fill" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Teacher Support
        </div>
      </div> 
      <div v-else>
        <router-link class="colorBl" to="/chat">
        <div class="text-center">
          <b-icon icon="chat-dots-fill" class="icon"></b-icon>
        </div>
        <div class="iconText">
          Teacher Support
        </div>
        </router-link>
      </div> 
      <!-- <div class="lastItem">
        <router-link class="colorBl" to="/chat">
          <div class="text-center lit">
            <b-icon icon="chat-dots-fill" class="icon"></b-icon>
          </div>
          <div class="iconTextL">
            Teacher Support
          </div>
        </router-link>
      </div> -->
    </div>
  </div>
 <BottomMenu/>
</div>

</template>

<script>
import BottomMenu from '@/components/BottomMenu'
import TopMenu from '@/components/TopMenu'
export default {
  name: 'Course',
  
  data () {
    return {
      month:null,
      day:null,
      userId:null,
      loggedIn:false,
      msg: 'Welcome to Your Vue.js App',
      api:'https://api.teenybeans.in/API/ParentApp/V1/',
      disable: false,
      error:false,
    }
  },
  components: {
    BottomMenu,
    TopMenu
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    // console.log(ca);
    var id = "userId=";
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if(!self.userId){
      self.$router.push('signin');
    }else{
      self.loggedIn = true;
      self.fetchRegDetails();
    }
  },
  methods:{
    fetchRegDetails(){
      var self = this;  
      fetch(self.api+'?regDetails&userId='+self.userId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
              response.json().then(function(data) {
              var dataS = data.data;
              console.log(data.data);
              self.month = dataS.month;
              self.day = dataS.day;
              if(dataS.disable){
                self.disable = true;
              }else{
                // console.log("Not ok");
              }
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    showError(){
      this.error = true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: 'Arima Madurai';
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 6em 6em 6em;
  grid-gap: 10px;
  background-color: rgba(2, 7, 77, 0.925);
  padding: 10px;
}
.lastItem{
  grid-area: 2 / 2 / span 2 / span 1;
}

.grid-container > div {
  background-color: #fff;;
  border: 1px solid black;
  color: black;
  text-align: center;
  font-size: 30px;
  border-radius: 0%;
  padding-top: 3%; 
  padding-left: 2px;
  padding-right: 2px;
}
.grid-container > div > div {
  display: grid;
  grid-template-columns: auto ;
  text-align: center;
}
.icon{
  margin-top: .5em;
  margin-left: auto;
  margin-right:auto;
}
.iconText{
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.5em;
}
.iconTextL{
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50%;
}
.lit{
  margin-top: 1.8em;
}
.con{
  margin-top: 20px;
  padding-top: 6px;
}
.colorBl{
  color: black
}
.editBtn{
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.aboutText{
  color: #fff;
}
.smallText{
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: 'Arima Madurai', cursive;
}
.heading-sm{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  /* font-family: 'Arima Madurai', cursive; */
}
.bgDark{
  text-align: center;
  padding-top: 2%;
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  position: sticky;
}
.bold{
  font-weight:bold;
}

</style>
