<template>
  <div>
    <TopMenu />
    <div class="container-fluid bgDark">
      <h2 class="heading">Demo Class</h2>
      <div class="card con" v-for="image in images" :key="image.url">
        <h4 class="vTitle">{{ image.title }}</h4>
        <img :src="image.url" class="cbImg" @click="showFull(image.url)" />
      </div>
      <div class="card con" v-for="video in videos" :key="video.url">
        <h4 class="vTitle">{{ video.title }}</h4>
        <video
          width="100%"
          height="auto"
          controls
          controlslist="nodownload"
          class="cVideo"
        ><source :src="video.url" type=video/mp4></video>
      </div>
      <div class="btnDv">
        <router-link to="/course">
          <b-button variant="danger">
            <b-icon icon="arrow-left" variant="light"></b-icon>Back
          </b-button>
        </router-link>
      </div>
      <br />
    </div>
    <div id="myModal" v-if="modalShow" class="full">
      <!-- The Close Button -->
      <b-button variant="danger" class="float-right cBtn" @click="close()">
        <b-icon icon="x-circle-fill" variant="light"></b-icon>
      </b-button>
      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01" :src="modalImg" />
    </div>
    <BottomMenu />
  </div>
</template>
<script>
import BottomMenu from "@/components/BottomMenu";
import TopMenu from "@/components/TopMenu";
export default {
  name: "DemoClass",

  data() {
    return {
      day: null,
      month: null,
      api: "https://api.teenybeans.in/API/ParentApp/V1/",
      // api:'http://api.go/API/ParentApp/V1/',
      loggedIn: false,
      userId: null,
      noError: true,
      modalShow: false,
      modalImg: null,
      videos: [
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/10.mp4",
          title: "Assembly Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/7.mp4",
          title: "Alphabet Rhyme Practice Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/8.mp4",
          title: "Conversation and Rhyme Practice Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/9.mp4",
          title: "High Level Lesson Plan for the Day Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/1.mp4",
          title: "Introduction of Topic for the Day Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/6.mp4",
          title: "Game mapped to the Topic for the Day Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/5.mp4",
          title: "Content Book Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/4.mp4",
          title: "Workbook Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/3.mp4",
          title: "Pattern Writing Practice Demonstration"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/2.mp4",
          title: "Summary"
        }
      ],
      images: [
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/1.jpeg",
          title: "Alphabet Cutout"
        },
        {
          url:
            "https://bscdn.sgp1.cdn.digitaloceanspaces.com/TB/sparsh/static/2.jpeg",
          title: "Alphabet Game"
        }
      ]
    };
  },
  components: {
    BottomMenu,
    TopMenu
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    // console.log(ca);
    var id = "userId=";
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if (!self.userId) {
      self.$router.push("signin");
    } else {
      self.loggedIn = true;
      // self.fetchRegDetails();
      // self.fetchVideo();
    }
  },
  methods: {
    showFull(imgName) {
      this.modalImg = imgName;
      this.modalShow = true;
    },
    close() {
      this.modalImg = null;
      this.modalShow = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: "Arima Madurai";
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.cVideo {
  margin-bottom: 20px;
}
.vTitle {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 2px;
}
.btnDv {
  margin-top: 1%;
  margin-bottom: 30%;
}
.cbImg {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.con {
  margin-top: 20px;
  padding-top: 0px;
  margin-bottom: 5%;
  /* min-height: 100%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden; */
}
.editBtn {
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.aboutText {
  color: #fff;
}
.smallText {
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: "Arima Madurai", cursive;
}
.heading-sm {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  /* font-family: 'Arima Madurai', cursive; */
}
.bgDark {
  text-align: center;
  padding-top: 5%;
  /* margin-bottom: 160px; */
  background: rgb(200, 213, 53);
  background: linear-gradient(
    180deg,
    rgba(200, 213, 53, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  /* padding-bottom: 40%; */
  height: 100%;
  /* position:fixed; 
  overflow-y:hidden;
  overflow-x:hidden; */
}
.bold {
  font-weight: bold;
}
.full {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  padding-bottom: 30%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cBtn {
  margin-top: 5px;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
</style>
