<template>
<div>
   <div class="container-fluid bgDark">
     <img src="../assets/spLogo.png" width="140" height="140" alt="">
    <h1 class="heading">sparsh</h1>
    <h4 class="smallText">The Parent App</h4>
    <p class="aboutText">This FREE APP is designed to bring Beanstalk international preschool curriculum to the homes of parents at a time when they need it the most.</p>
    <router-link to="/signup"><button class="btn joinBtn">Today's Course</button></router-link>
    <router-link to="/signup"><button class="btn profileBtn">Profile</button></router-link>
  </div>
</div>
</template>

<script>

export default {
  name: 'HomeLoggedIn',
  
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @import url('../assets/Itim/Itim-Regular.ttf'); */
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: 'Arima Madurai';
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.joinBtn{
  background: rgb(105, 35, 35);
  padding: 10px 30px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  /* font-family: 'Itim', cursive; */
}
.profileBtn{
  background: rgb(105, 35, 35);
  padding: 10px 30px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  /* font-family: 'Itim', cursive; */
}
.aboutText{
  color: #000;
  /* font-family: 'Itim', cursive; */
}
.smallText{
  padding-top: 0px;
  /* font-family: 'Itim', cursive; */
  font-weight: bold;
  color: #000;
  font-size: 2em;
}
.heading{
  font-size: 5em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgb(105, 35, 35);
  font-family: 'Arima Madurai', cursive;
}
.bgDark{
  padding-top: 10%;
  /* background: #c7d333; */
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  position: sticky;
}

</style>

