<template>
  <div>
    <TopMenu />
    <div class="container-fluid bgDark text-center">
      <img src="../assets/splogo3.png" class="logo" alt />
      <h4 class="smallText">The Parent App</h4>
      <router-link to="/signup">
        <button class="btn joinBtn" v-if="!loggedIn">Register</button>
      </router-link>
      <router-link to="/signin">
        <button class="btn joinBtn" v-if="!loggedIn">Log In</button>
      </router-link>
      <a :href="aboutLink">
        <button class="btn joinBtn" v-if="loggedIn">About</button>
      </a>
      <p
        class="aboutText text-justify"
      >Sparsh is an APP connecting parents with Teeny Beans' internationally recognized preschool curriculum. The APP provides all parents with instant access to the daily preschool curriculum - the content book, the workbook, curriculum mapped multi-media connect and daily lesson plans. Parents can also connect with their favorite teachers through Sparsh and manage their childs learning journey together with their favorite preschool.</p>
      <!-- <router-link to="/profile"><button class="btn joinBtn" v-if="loggedIn">Profile</button></router-link> -->
    </div>
    <div v-if="loggedIn">
      <BottomMenu />
    </div>
  </div>
</template>

<script>
import BottomMenu from "@/components/BottomMenu";
import TopMenu from "@/components/TopMenu";
export default {
  name: "Home",

  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      loggedIn: false,
      userId: null,
      centerCode: null,
      api: "https://api.teenybeans.in/API/ParentApp/V1/",
      partnerCode: null,
      aboutLink: "https://teenybeans.in/"
    };
  },
  components: {
    BottomMenu,
    TopMenu
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    var id = "userId=";
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
        // console.log(self.userId);
      }
    }
    if (self.userId) {
      self.loggedIn = true;
      self.fetchCode();
    }
  },
  methods: {
    fetchCode() {
      var self = this;
      fetch(self.api + "?userDetails&userId=" + self.userId)
        .then(function(response) {
          if (response.status !== 200) {
            console.log(
              "Looks like there was a problem. Status Code: " + response.status
            );
            return;
          }
          response.json().then(function(data) {
            var dataS = data.data;
            console.log(dataS);
            self.partnerCode = dataS.CENTER_CODE;
            if (dataS.ABOUT_LINK != null) {
              self.aboutLink = dataS.ABOUT_LINK;
            }
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @import url('../assets/Itim/Itim-Regular.ttf'); */
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: "Arima Madurai";
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.joinBtn {
  background: rgba(2, 7, 77, 0.925);
  padding: 10px 30px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  /* font-family: 'Itim', cursive; */
}
.logo {
  padding-bottom: 0px;
  width: 14em;
  height: 14em;
}
.aboutText {
  color: rgba(2, 7, 77, 0.925);
  font-size: 18px;
  /* font-family: 'Itim', cursive; */
}
.smallText {
  padding-top: 0px;
  /* font-family: 'Itim', cursive; */
  font-weight: bold;
  color: rgba(2, 7, 77, 0.925);
  font-size: 2em;
}
.heading {
  font-size: 5em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgb(105, 35, 35);
  font-family: "Arima Madurai", cursive;
}
.bgDark {
  padding-top: 1%;
  /* background: #c7d333; */
  background: rgb(200, 213, 53);
  background: linear-gradient(
    180deg,
    rgba(200, 213, 53, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
  position: sticky;
  margin-bottom: 80%;
}
</style>
