<template>
<div>
  <TopMenu/>
  <div id="myModal" v-if="modalShow" class="full">
      <!-- The Close Button -->
      <b-button variant="danger" class="float-right cBtn" @click="close()"><b-icon icon="x-circle-fill" variant="light"></b-icon></b-button>
      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01" :src="modalImg">
  </div>
   <div class="container-fluid bgDark">
    <h2 class="heading">Lesson Plan </h2>
    <h4 class="heading-sm">Month:- {{ month }}</h4>
    <h4 class="heading-sm">Day:- {{ day }}</h4>
    <div>
      <router-link to="/course"><b-button variant="danger" class="float-left"><b-icon icon="arrow-left" variant="light"></b-icon>Back</b-button></router-link>
      <router-link to="/avsupport"><b-button variant="primary" class="float-right">Next<b-icon icon="arrow-right" variant="light"></b-icon></b-button></router-link>
    </div><br>
    <!-- <img src="../assets/user.png" height="60" width="60" alt=""> -->
    <div class="card con" v-if="noError">
        <img v-for="image in images" :src="image.url" class="cbImg" :key="image.url" @click="showFull(image.url)"/>
    </div>
    <div class="card con" v-else>
        <h3>No Content to show</h3>
    </div>
  </div>
  <BottomMenu/>
</div>
</template>

<script>
import BottomMenu from '@/components/BottomMenu'
import TopMenu from '@/components/TopMenu'
export default {
  name: 'LessonPlan',
  
  data () {
    return {
      day:null,
      month:null,
      api:'https://api.teenybeans.in/API/ParentApp/V1/',
      contentAPi:'https://api.teenybeans.in/',
      loggedIn:false,
      userId:null,
      msg: 'Welcome to Your Vue.js App',
      images:[],
      modalShow:false,
      modalImg:null,
      noError:true,
    }
  },
  components: {
    BottomMenu,
    TopMenu
  },
   created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    // console.log(ca);
    var id = "userId=";
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if(!self.userId){
      self.$router.push('signin');
    }else{
      self.loggedIn = true;
      // self.fetchRegDetails();
      self.fetchLessonPlan();
    }
  },
  methods:{
    fetchRegDetails(){
      var self = this;  
      fetch(self.api+'?regDetails&userId='+self.userId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
              response.json().then(function(data) {
              var dataS = data.data;
              console.log(data.data);
              self.month = dataS.month;
              self.day = dataS.day;
              if(dataS.disable){
                self.disable = true;
              }else{
                // console.log("Not ok");
              }
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    fetchLessonPlan(){
      var self = this;  
      fetch(self.api+'?fetchLessonPlan&userId='+self.userId)
        .then(
          function(response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' +
                response.status);
              return;
            }
              response.json().then(function(data) {
              var dataS = data.data;
              console.log(dataS);
              if(dataS == null){
                self.noError = false;
              }else{
                for(var i = 0;i<dataS.length;i++){
                self.images.push({"url":self.contentAPi+dataS[i]});
              }
              }
              self.fetchRegDetails();
            });
          }
        )
        .catch(function(err) {
          console.log('Fetch Error :-S', err);
        });
    },
    showFull(imgName){
      this.modalImg = imgName;
      this.modalShow = true;
    },
    close(){
      this.modalImg = null;
      this.modalShow = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: 'Arima Madurai';
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.cbImg{
  width: 100%;
  height: auto;
  
}
.con{
  margin-top: 20px;
  padding: 1px;
  margin-bottom: 30%;
  background-color: black;
  /* min-height: 100%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden; */
}
.editBtn{
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.aboutText{
  color: #fff;
}
.smallText{
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: 'Arima Madurai', cursive;
}
.heading-sm{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 3px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  /* font-family: 'Arima Madurai', cursive; */
}
.bgDark{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  /* position:fixed; 
  overflow-y:hidden;
  overflow-x:hidden; */
}
.bold{
  font-weight:bold;
}
.full {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px;/* Location of the box */
  padding-bottom: 30%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.cBtn{
  margin-top: 5px;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

</style>
