<template>
<div>
  <TopMenu/>
   <div class="container-fluid bgDark">
    <h2 class="heading">Notification</h2>
    <!-- <img src="../assets/user.png" height="60" width="60" alt=""> -->
    <div class="card con">
        <table class="table">
          <h5 class=text>You have no notification right now</h5>
            <tbody>
                <!-- <tr v-for="notification in notifications" :key="notification.id">
                  
                    <td class="bold col-7">{{notification.text}}</td> 
                    <td class="bold col-5"><router-link to="/contentbook"><button class="editBtn"><b-icon icon="folder-symlink-fill" variant="light"></b-icon></button></router-link></td>
                </tr> -->
            </tbody>
        </table>
    </div><br>
  </div>
  <BottomMenu/>
</div>
</template>

<script>
import BottomMenu from '@/components/BottomMenu'
import TopMenu from '@/components/TopMenu'
export default {
  name: 'Course',
  
  data () {
    return {
      today:"Week - 2 & Day - 4",
      userId:null,
      loggedIn:false,
      msg: 'Welcome to Your Vue.js App',
      notiText:"New Notification",
      notifications:[
          {id:1, text:"New Notification"},
          {id:2, text:"New Notification"},
          {id:3, text:"New Notification"}
      ]
    }
  },
  components: {
    BottomMenu,
    TopMenu
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    // console.log(ca);
    var id = "userId=";
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if(!self.userId){
      self.$router.push('signin');
    }else{
      
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: 'Arima Madurai';
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.con{
  margin-top: 20px;
  padding-top: 6px;
}
.text{
  padding: 10px;
}
.editBtn{
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.aboutText{
  color: #fff;
}
.smallText{
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: 'Arima Madurai', cursive;
}
.bgDark{
  text-align: center;
  padding-top: 2%;
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  position: sticky;
}
.bold{
  font-weight:bold;
}

</style>
