<template>
  <div>
    <TopMenu />
    <div class="container-fluid bgDark">
      <h2 class="heading">User Profile</h2>
      <!-- <img src="../assets/user.png" height="60" width="60" alt=""> -->
      <div class="card con table-responsive">
        <h4 class="sHeading">Lesson Details</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>Ongoing Month:-</td>
              <td>{{month}}</td>
            </tr>
            <tr>
              <td>Ongoing Day:-</td>
              <td>{{day}}</td>
            </tr>
            <tr>
              <td colspan="2" class="text-center font-weight-bold">
                <router-link to="/course">View Today's Lesson</router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <div class="card con table-responsive">
        <h4 class="sHeading">Child Details</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>Name:-</td>
              <td>{{childName}}</td>
            </tr>
            <tr>
              <td>Age:-</td>
              <td>{{childAge}}</td>
            </tr>
            <tr>
              <td>Course:-</td>
              <td>{{course}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <div class="card con table-responsive">
        <h4 class="sHeading">Parents Details</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>Name:-</td>
              <td>{{parentName}}</td>
            </tr>
            <tr>
              <td>Email:-</td>
              <td>{{email}}</td>
            </tr>
            <tr>
              <td>Phone:-</td>
              <td>{{phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <BottomMenu />
  </div>
</template>

<script>
import BottomMenu from "@/components/BottomMenu";
import TopMenu from "@/components/TopMenu";
export default {
  name: "Profile",

  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      values: null,
      month: null,
      day: null,
      childName: null,
      childAge: null,
      course: null,
      parentName: null,
      email: null,
      phone: null,
      loggedIn: false,
      userId: null,
      school: null,
      api: "https://api.teenybeans.in/API/ParentApp/V1/"
      // api:'http://api.go/API/ParentApp/V1/'
    };
  },
  components: {
    BottomMenu,
    TopMenu
  },
  methods: {
    fetchDetails() {
      // console.log(process.env.VUE_APP_TITLE);
      var self = this;
      fetch(self.api + "?userDetails&userId=" + self.userId)
        .then(function(response) {
          if (response.status !== 200) {
            console.log(
              "Looks like there was a problem. Status Code: " + response.status
            );
            return;
          }
          response.json().then(function(data) {
            var dataS = data.data;
            // console.log(dataS);
            self.parentName = dataS.PARENT_NAME;
            self.email = dataS.EMAIL;
            self.phone = dataS.PHONE;
            self.childName = dataS.CHILD_NAME;
            self.childAge = dataS.AGE;
            self.school = dataS.SCHOOL_NAME;
            self.course = dataS.COURSE_NAME;
            self.fetchRegDetails();
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    },
    fetchRegDetails() {
      var self = this;
      fetch(self.api + "?regDetails&userId=" + self.userId)
        .then(function(response) {
          if (response.status !== 200) {
            console.log(
              "Looks like there was a problem. Status Code: " + response.status
            );
            return;
          }
          response.json().then(function(data) {
            var dataS = data.data;
            console.log(data.data);
            self.month = dataS.month;
            self.day = dataS.day;
          });
        })
        .catch(function(err) {
          console.log("Fetch Error :-S", err);
        });
    }
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    // console.log(ca);
    var id = "userId=";
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if (!self.userId) {
      self.$router.push("signin");
    } else {
      self.loggedIn = true;
      this.fetchDetails();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* @font-face {
  font-family: 'Itim';
  src: url("../assets/fonts/Itim/Itim-Regular.ttf");
} */
@font-face {
  font-family: "Arima Madurai";
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.editBtn {
  background: rgb(3, 73, 139);
  padding: 10px 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
}
.sHeading {
  font-weight: bold;
  padding-top: 5px;
}
.smallText {
  padding-top: 0px;
  color: #fff;
  font-size: 2em;
}
.heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: "Arima Madurai", cursive;
}
.bgDark {
  padding-top: 3%;
  /* background: #c7d333; */
  background: rgb(200, 213, 53);
  background: linear-gradient(
    180deg,
    rgba(200, 213, 53, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
  position: sticky;
  margin-bottom: 60%;
}
</style>
