<template>
<div>
  <TopMenu/>
   <div class="container-fluid bgDark">
    <h2 class="heading">Log In</h2>
    <p class="smallText" v-if="fillAllFields">Please Fill All the Fields!</p>
    <p class="smallText" v-if="errorForm">{{errorM}}</p>
    <div id="signUpForm">
      <b-form v-if="show">
        <b-form-group id="input-group-s2">
            <b-form-input
            id="input-2s"
            v-model="phone"
            type="number"
            required
            placeholder="Enter Phone Number"
            ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-2">
            <b-form-input
            id="input-p"
            type="password"
            v-model="password"
            required
            placeholder="Enter Password"
            ></b-form-input>
        </b-form-group>
        

        <b-button type="button" @click="validForm" class="regBtn">Sign In</b-button>
        </b-form>
        <!-- <a @click="$router.go('/')">back</a> -->
        <router-link to="/" class="link">back</router-link>
    </div>
  </div>
  </div>
</template>

<script>
import TopMenu from '@/components/TopMenu'
export default {
  name: 'Signup',
  
  data () {
    return {
        phone:null,
        show: true,
        password:null,
        fillAllFields:false,
        errorm:null,
        errorForm:false,
        userId:null,
        api:'https://api.teenybeans.in/API/ParentApp/V1/'
    }
  },
  components: {
    // BottomMenu,
    TopMenu
  },
 methods: {
    validForm(){
      var self = this;
      if(self.phone == null || self.password == null){
        self.fillAllFields = true;
      }else{
        self.fillAllFields = false;
        self.submitForm();
      }
    },
    submitForm() {
      var self = this;
      self.errorForm = false;
      self.errorM = null;
      var self = this;
      let formData = new FormData();
      formData.append('formName', 'signinParent');
      formData.append('phone', this.phone);
      formData.append('password', this.password);
      fetch(self.api, {
        method: 'POST',
        body: formData
      })
      .then(
        function(response) {
        if (response.status !== 200) {
          console.log('Looks like there was a problem. Status Code: ' +
            response.status);
          return;
          }
          response.json().then(function(data) {
          console.log(data);
          if(data.errorm != null){
            self.errorForm = true;
            self.errorM = data.errorm;
          }else{
            self.userId = data.data;
              self.setCookie();
              self.$router.push('course');
          }
          // var dataToshow = document.getElementById('showServicesHere');
          // dataToshow.innerHTML = '';
          // dataToshow.innerHTML = data.data;
        });
      }
      );
    },
    setCookie(){
        var d = new Date();
        d.setTime(d.getTime() + (7*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = "userId" + "=" + this.userId + ";" + expires + ";path=/";
    }
  },
  created(){
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    var id = "userId=";
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if(self.userId){
      self.$router.push('course');
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.link{
  color: black;
  font-size: 1.2em;
}
#signUpForm{
    padding-top: 20%
}
.regBtn{
  margin-top: 7%;
  background: rgba(2, 7, 77, 0.925);
  padding: 10px 30px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
  font-size: 20px;
  font-family: 'Itim', cursive;
}
.smallText{
  padding-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgb(246, 15, 15);
  font-size: 20px;

}
.heading{
  font-family: 'Itim', cursive;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
}
.bgDark{
  text-align: center;
  padding-top: 5%;
  background: rgb(200,213,53);
  background: linear-gradient(180deg, rgba(200,213,53,1) 38%, rgba(255,255,255,1) 100%);
  height: 100%;
  position: sticky;
}

</style>
