<template>
  <div>
    <TopMenu />
    <div class="container-fluid bgDark">
      <h2 class="heading">Register</h2>
      <p class="smallText" v-if="passwordSame">Passwords are not same</p>
      <p class="smallText" v-if="passwordLength">Password must be longer than 4 characters</p>
      <p class="smallText" v-if="fillAllFields">Please Fill All the Fields!</p>
      <p class="smallText" v-if="errorForm">{{errorM}}</p>
      <div id="signUpForm">
        <b-form v-if="show">
          <b-form-group id>
            <b-form-input
              id="input-2sda"
              v-model="parentName"
              required
              placeholder="Enter Your Name"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label-for="input-1"
            description="We'll never share your email with anyone else."
          >
            <b-form-input
              id="input-1g"
              v-model="email"
              type="email"
              required
              placeholder="Enter Email"
            ></b-form-input>
          </b-form-group>
          <b-form-group id>
            <b-form-input
              id="input-2ds"
              v-model="phone"
              type="number"
              required
              placeholder="Enter Phone Number"
            ></b-form-input>
          </b-form-group>

          <b-form-group id>
            <b-form-input
              id="input-2h"
              v-model="childName"
              required
              placeholder="Enter Child's Name"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3">
            <b-form-select id="input-3ui" v-model="childAge" :options="ageGroup" required></b-form-select>
          </b-form-group>
          <b-form-group id>
            <b-form-input
              id="input-2er"
              v-model="partnerCode"
              placeholder="Enter School Code (Optional)"
            ></b-form-input>
          </b-form-group>
          <b-form-group id>
            <b-form-input
              id="input-p"
              type="password"
              v-model="password"
              required
              placeholder="Enter Password"
            ></b-form-input>
          </b-form-group>
          <b-form-group id>
            <b-form-input
              id="input-pczxc"
              type="password"
              v-model="password2"
              required
              placeholder="Enter Password Again"
            ></b-form-input>
          </b-form-group>

          <b-button type="button" @click="validForm()" class="regBtn">Register</b-button>
        </b-form>
        <router-link to="/" class="link">back</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import TopMenu from "@/components/TopMenu";
export default {
  name: "Signup",

  data() {
    return {
      parentName: null,
      email: null,
      phone: null,
      childName: null,
      childAge: null,
      show: true,
      partnerCode: null,
      password: null,
      password2: null,
      ageGroup: [
        { text: "Select Child's Age", value: null },
        "1.5 - 2.5",
        "2.5 - 3.5",
        "3.5 - 4.5"
      ],
      courseName: null,
      schoolName: null,
      passwordSame: false,
      passwordLength: false,
      fillAllFields: false,
      errorM: null,
      errorForm: false,
      userId: null,
      msg: "Welcome to Your Vue.js App",
      api: "https://api.teenybeans.in/API/ParentApp/V1/"
    };
  },
  components: {
    // BottomMenu,
    TopMenu
  },
  methods: {
    validForm() {
      var self = this;
      if (
        self.parentName == null ||
        self.email == null ||
        self.phone == null ||
        self.childName == null ||
        self.childAge == null ||
        self.password == null ||
        self.password2 == null
      ) {
        self.fillAllFields = true;
      } else {
        self.fillAllFields = false;
        if (self.password.length <= 4) {
          self.passwordLength = true;
        } else {
          self.passwordLength = false;
          if (self.password != self.password2) {
            self.passwordSame = true;
          } else {
            self.passwordSame = false;
            self.submitForm();
          }
        }
      }
    },
    submitForm() {
      var self = this;
      self.errorForm = false;
      self.errorM = null;
      self.passwordSame = false;
      let formData = new FormData();
      if (self.childAge == "1.5 - 2.5") {
        self.courseName = "PG";
      } else if (self.childAge == "2.5 - 3.5") {
        self.courseName = "IK1";
      } else if (self.childAge == "3.5 - 4.5") {
        self.courseName = "IK2";
      }
      formData.append("formName", "registerParent");
      formData.append("parentName", this.parentName);
      formData.append("childAge", this.childAge);
      formData.append("childName", this.childName);
      formData.append("email", this.email);
      formData.append("phone", this.phone);
      formData.append("courseName", this.courseName);
      formData.append("partnerCode", this.partnerCode);
      formData.append("password", this.password);
      formData.append("password2", this.password2);
      fetch(self.api, {
        method: "POST",
        body: formData
      }).then(function(response) {
        if (response.status !== 200) {
          console.log(
            "Looks like there was a problem. Status Code: " + response.status
          );
          return;
        }
        response.json().then(function(data) {
          console.log(data);
          if (data.errorm != null) {
            self.errorForm = true;
            self.errorM = data.errorm;
          } else {
            self.userId = data.data;
            self.setCookie();
            self.$router.push("course");
          }
          // var dataToshow = document.getElementById('showServicesHere');
          // dataToshow.innerHTML = '';
          // dataToshow.innerHTML = data.data;
        });
      });
    },
    setCookie() {
      var d = new Date();
      d.setTime(d.getTime() + 7 * 24 * 60 * 60 * 1000);
      var expires = "expires=" + d.toUTCString();
      document.cookie =
        "userId" + "=" + this.userId + ";" + expires + ";path=/";
    }
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    var id = "userId=";
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if (self.userId) {
      self.$router.push("course");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@font-face {
  font-family: "Arima Madurai";
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
#signUpForm {
  padding-top: 8%;
}
.link {
  color: black;
  font-size: 1.2em;
}

.regBtn {
  margin-top: 10px;
  background: rgba(2, 7, 77, 0.925);
  padding: 10px 30px;
  border: none;
  border-radius: 100px 100px 100px 100px;
  color: #fff;
  font-size: 20px;
}

.smallText {
  padding-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgb(246, 15, 15);
  font-size: 20px;
}
.heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(2, 7, 77, 0.925);
  font-family: "Arima Madurai", cursive;
}
.bgDark {
  text-align: center;
  padding-top: 2%;
  background: rgb(200, 213, 53);
  background: linear-gradient(
    180deg,
    rgba(200, 213, 53, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
  position: sticky;
}
</style>
