<template>
  <div class>
    <div>
      <b-navbar toggleable="lg" type="dark" class="bgC" fixed="top">
        <b-navbar-brand href="#" class="font">
          <img
            src="../assets/tblogo.png"
            width="30"
            height="30"
            class="d-inline-block align-top round"
            alt="teenybeans logo"
          />
          Teeny Beans
        </b-navbar-brand>
        <div class="float-right">
          <b-nav-item v-if="loggedIn" class="topIcon">
            <div class>
              <router-link to="/notification">
                <b-icon icon="bell-fill" variant="light"></b-icon>
              </router-link>
            </div>
          </b-nav-item>
          <b-nav-item class="topIcon" v-if="loggedIn" @click="logout">
            <div class>
              <b-icon icon="box-arrow-right" variant="light"></b-icon>
            </div>
          </b-nav-item>
        </div>

        <!-- <b-nav-item href="#" class="noPadding">
          <div class="d-flex flex-column textCenter">
            <b-icon icon="bell-fill" class="mar" variant="light"></b-icon>
            <span class="textWh">Notice</span>
          </div>
        </b-nav-item>-->

        <!-- <b-nav-item href="#" disabled>Disabled</b-nav-item> -->
      </b-navbar>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopMenu",
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      userId: null,
      loggedIn: false
    };
  },
  methods: {
    logout() {
      var self = this;
      document.cookie = "userId=";
      self.$router.push("signin");
    }
  },
  created() {
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    var id = "userId=";
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
        // console.log(self.userId);
      }
    }
    if (self.userId) {
      self.loggedIn = true;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@font-face {
  font-family: "Arima Madurai";
  src: url("../assets/fonts/Arima_Madurai/ArimaMadurai-Medium.ttf");
}
.font {
  font-family: "Arima Madurai", sans-serif;
  /* font-style: italic */
  /* font-family: 'Shadows Into Light', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Bree Serif', serif; */
}
.topIcon {
  margin-right: 10px;
}
.round {
  border-radius: 50%;
}
.bgC {
  background: rgba(2, 7, 77, 0.925);
}
.textWh {
  color: #ffffff;
}
.nav-link {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem 0rem 0rem 0rem;
}
.mar {
  margin-left: 20%;
}
.textCenter {
  /* text-align: center; */
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
