<template>
  <div id="app">
    <!-- <TopMenu v-if="loggedIn"/> -->
    <!-- <TopMenu v-if="!loggedIn"/> -->
    <router-view/>
    <!-- <div v-if="loggedIn">
      <BottomMenu/>
    </div>
    <div v-else>

    </div> -->
    
  </div>
</template>

<script>
import TopMenu from '@/components/TopMenu'
import BottomMenu from '@/components/BottomMenu'
export default {
  name: 'App',
  data () {
    return {
      userId:null,
      loggedIn:false,
      // api:'https://api.teenybeans.in/API/ParentApp/V1/',
      api:'http://api.go/API/ParentApp/V1/'
    }
  },
  components: {
    BottomMenu,
    TopMenu
  },
  methods: {
    
  },
  mounted(){
    var self = this;
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    // console.log(ca);
    var id = "userId=";
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
        // console.log(c);
      }
      if (c.indexOf(id) == 0) {
        self.userId = c.substring(id.length, c.length);
      }
    }
    if(!self.userId){
      self.loggedIn = false;
    }else{
      self.loggedIn = true;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 54px;
  /* margin-top: 15%; */
  /* padding-bottom: 60%; */
}
</style>
